@media (max-width: 1024px) {
	.container {
		width: 90%;
	}
	.promo {
		background-position: 35% 10%;
	}
	.plus {
		min-height: 450px;
		padding: 45px 0;
		&__icon-card{
			width: 26vw;
			margin-top: 48px;
			h3{
				margin-top: 15px;
				font-size: 16px;
			}
			span{
				margin-top: 5px;
				font-size: 11px;
			}
		}
	}
	.h2-header{
		&_left{
			font-size: 30px;
		}
	}
	.request{
		&__descr{
			margin-top: 66px;
			font-size: 20px;
		}
	}
}

@media (max-width: 870px) {
	.switching{
		padding: 70px 0 50px 0;
		min-height: 100px;
		&__img-wrapper {
			width: 90%;
			img{
				width: 100%;
			}
		}
	}
}

@media (max-width: 730px) {
	.container {
		width: 90%;
	}
	.header {
		flex-wrap: wrap;
		&__logo {
			//width: 25px;
			margin: 5px auto 0 auto;
		}
		&__official {
			margin: 5px auto 0 auto;
		}
		&__phone {
			margin: 5px auto 0 auto;
		}
	}
	.promo {
		background-position: 35% 10%;
		padding: 21px 0 45px 0;
		min-height: 300px;
		&__header {
			font-size: 35px;
			margin-top: 67px;
		}
		&__subheader {
			font-size: 18px;
		}
		&__icon-wrapper {
			width: 300px;
			margin-top: 48px;

		}
		&__icon {
			font-size: 10px;
			margin-top: 0;
			img {
				width: 34px;
			}
			
		}
		&__catalog {
			font-size: 16px;
			a {
				font-size: 18px;
			}
		}
	}
	.plus {
	padding: 45px 0;
		&__icon-card{
			width: 64vw;
		}
		&__icon-wrapper{
			margin-top: 45px;
			flex-direction: column;
			align-items: center;

		}
		&__icon-card{
			margin-top: 0;
			h3{
				margin-top: 15px;
				font-size: 18px;
			}
			span{
				margin-top: 5px;
				font-size: 14px;
			}
		}
	}
	.h2-header{
		&_left{
			font-size: 30px;
			text-align: center;
		}
	}
	.request{
		&__descr{
			margin-top: 66px;
			font-size: 20px;
			text-align: center;
		}
	}
	.request-form{
		width: 80%;
		margin: 36px auto 0 auto;
	}
	.product {
		&__tab {
			font-size: 15px;
		}
	}
	.review {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}
		&__img {
			margin-right: 0;
			margin-bottom: 30px;
		}
		&__descr-wrapper {
			align-items: center;
			width: 80%;
		}
		&__descr {
			text-align: center;
		}
		hr {
			width: 80%;
			margin: 20px auto;
		}
	}
}

@media (max-width: 600px) {
	.product {
		&__tabs {
			flex-direction: column;
			align-items: center;
			margin: 40px 0;
		}
		&__tab {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 425px) {
	.container {
		width: 90%;
	}
	.header {
		flex-wrap: wrap;
		&__logo {
			height: 25px;
			margin: 5px auto 0 auto;
		}
		&__official {
			font-size: 10px;
			margin: 5px auto 0 auto;
			span {
				font-size: 13px;
			}
				
		}
		&__phone {
			margin: 5px auto 0 auto;
		}
	}
	.promo {
		min-height: 550px;
		padding-bottom: 0;
		&__header {
			font-size: 25px;
			margin-top: 37px;
		}
		&__subheader {
			font-size: 16px;
		}
		&__icon-wrapper {
			width: 260px;
			margin-top: 28px;

		}
		&__icon {
			font-size: 10px;
			margin-top: 0;
			img {
				width: 34px;
			}
			
		}
		&__catalog {
			font-size: 14px;
			a {
				font-size: 16px;
			}
		}
	}
	.button{
		&_main {
			margin-top: 46px;
		}
	}
	.h2-header{
		font-size: 25px;
	}
	.h2-header{
		&_left{
			font-size: 25px;
		}
	}
	.request{
		min-height: 100px;
		padding: 68px 0 68px 0;
		background-position: 55%;
		&__descr{
			margin-top: 54px;
			font-size: 16px;
			text-align: center;
		}
	}
	.request-form{
		width: 80%;
		margin: 36px auto 0 auto;
	}

	.review {
		&__subheader {
			margin-top: 7px;
		}
		&__descr {
			font-size: 13px;
			margin-top: 7px;
		}
	}
		
}

@media (max-width: 320px) {
	.promo {
		min-height: 450px;
		padding-bottom: 25px;
		&__wrapper{
			align-items: center;
		}
		&__header {
			font-size: 22px;
			margin-top: 37px;
		}
		&__subheader {
			font-size: 13px;
		}
		&__icon-wrapper {
			width: 260px;
			margin-top: 28px;

		}
		&__icon {
			font-size: 10px;
			margin-top: 0;
			img {
				width: 34px;
			}
			
		}
		&__catalog {
			font-size: 14px;
			a {
				font-size: 16px;
			}
		}
	}
	.button{
		&_main {
			margin-top: 46px;
		}
	}
	.card-product {
		&__old-price {
			font-size: 13px;
		}
		&__price {
			font-size: 15px;
		}
	}
	.button_buy {
		width: 115px;
		height: 36px;
	}
}