body {
	font-family: 'Museo Sans', sans-serif;
	line-height: normal;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

@import "base/general";
@import "base/mixins";
@import "base/variable";
@import "block/promo";
@import "block/header";
@import "block/button";
@import "block/plus";



@import "base/media";