body {
	font-family: 'Museo Sans', sans-serif;
	line-height: normal;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

.up-arrow {
	display: none;
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 40px;
	height: 40px;
	img {
		width: 100%;
	}
}


@import "base/general";
@import "base/animated";
@import "base/mixins";
@import "base/variable";
@import "block/promo";
@import "block/header";
@import "block/button";
@import "block/plus";
@import "block/h2-header";
@import "block/request-form";
@import "block/request";
@import "block/switching";
@import "block/product";
@import "block/card-product";
@import "block/review";
@import "block/footer";
@import "block/modal";
@import "base/media";

.hide {
	top: -100%;
}